# Веб-сервер
WEBHOOK_USERNAME=
WEBHOOK_PASSWORD=

# SonarQube
SONARQUBE_URL=
SONARQUBE_TOKEN=
SONARQUBE_WEBHOOK_SECRET=

# Jenkins
JENKINS_URL=
JENKINS_TOKEN=
JENKINS_JOB_NAME=

# Jira
JIRA_USERNAME=
JIRA_PASSWORD=
JIRA_URL=

# Администраторы
ADMIN_IPS=
ADMIN_HOSTNAMES=